extends layout

block content
    h1 The books in your personal library!
    if books.length
        table
            thead
                td ISBN
                td Title
                td Author
            each book in books
                tr
                    td #{book.isbn}
                    td #{book.title}
                    td #{book.author.name}
    else
        p Please add books to your library!